html {
  font-size: 20px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#calculator {
  width: fit-content;
  border: solid black;
}
#display {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}
#buttons {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  cursor: pointer;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid black;
  border-right: solid black;
  background-color: rgb(56, 56, 56);

}
.button:nth-child(4n) {
  border-right: none;
}
.operator {
  background-color: rgb(9, 199, 199);
}
.pressed {
  filter: brightness(50%)
}
#text {
  width: 290px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
